.card-body {
    padding: 0.5rem !important;
}
.card{
    border-bottom: none !important;
}
.cardTitle {
    font-size: 15px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}
.cardBody {
    font-size: 12px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}
.div-border {
    border: 0.2rem solid #ced4da;
    border-width: .2rem .2rem 0.2rem;
    border-radius: 8px 8px 8px 8px;
    margin: 10px 10px 0px 10px;
    padding: 10px 20px 0px 20px;
    width: 100%;
}
.load-class{
    z-index: 300;
    position: absolute;
    top: 50%;
    left: 45%;
}

.marginClass {
    padding-right: 9px !important;
    padding-left: 9px !important;
}